/* Variables de color */
:root {
    --color-primario: #88D7FB;
    --color-secundario: #FAC687;
    --color-terciario: #93AEBA;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-secundario);
    color: var(--color-terciario); /* Ajustado el texto principal a un tono más oscuro */
}

/* Contenedor Principal */
.contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.columna-imagen, .columna-contenido {
    background-color: var(--color-secundario); /* Cambiado el fondo para diferenciarlo */
    padding: 20px;
    border-radius: 5px;
    flex-basis: calc(100% - 30px); /* Ajusta el espacio entre columnas */
}

.columna-imagen img {
    width: 100%;
    height: auto;
}

/* Media Queries para pantallas pequeñas */
@media (min-width: 600px) {
    .columna-imagen, .columna-contenido {
        flex-basis: calc(50% - 30px); /* Dos columnas en pantalla grande */
    }
}

/* Footer */
.footer {
    background-color: var(--color-secundario);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px; /* Ajustado el tamaño de fuente para que sea más legible */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px; /* Añadido padding para mejor visualización */
    border-radius: 5px; /* Mejora la interactividad con el mouse */
}

.footer-nav a:hover {
    text-decoration: underline;
}